# Editor Configuration
# Garante consistência de estilo de código entre diferentes editores
# Para mais informações: https://editorconfig.org

root = true

# Todas as extensões
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Arquivos de código
[*.{js,css,html}]
indent_style = space
indent_size = 2

# JSON
[*.json]
indent_style = space
indent_size = 2

# Markdown
[*.md]
trim_trailing_whitespace = false
